nav {
    padding-bottom: 20px;
}

li {
    text-align: left;
}

body {
    background: #1D1B26;
    background: 20px;
    background: url(Pu.jpg) 100% 100% no-repeat;
}

.bgcolor {
    font-size: 500px;
}
 
